.App {
  text-align: center;
}

.Random-Text-Wrapper{
    width:80%;
    margin-bottom:1em;
}

.Data{
}

.App-header {
  background-color:#282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Menu{
    background-color:red;
    box-sizing:border-box;
    padding:12px 7px;
    background-color:#1c1e20;
}

.Menu-Title-App{
    color:white;
    font-size:1.2em;
    width:80%;
    margin:auto;
}

.Character{
    white-space:pre;
    font-size:1.5em;
}

.Character-current{
    background-color: #09d3ac;
}

.Character-out{
    color:#353d43;
}

.Credits{
    color:#575f65;
}
